<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmis.user.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.hmis.user.dto.UserInfo">
    <id column="user_no" jdbcType="INTEGER" property="userNo" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_sex" jdbcType="CHAR" property="userSex" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_tel" jdbcType="CHAR" property="userTel" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="head_portrait" jdbcType="VARCHAR" property="headPortrait" />
  </resultMap>

  <sql id="Base_Column_List">
    user_no, user_name, user_sex, user_age, user_tel, user_email, head_portrait
  </sql>

  <select id="queryCountForLogin" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info a
    <where>
      AND (
          a.user_tel = #{dto.userName,jdbcType=CHAR}
          OR a.user_email = #{dto.userName,jdbcType=CHAR})
      AND a.user_pwd = #{dto.userPasswd,jdbcType=VARCHAR}
    </where>
  </select>

  <select id="selectByNo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where user_no = #{userNo,jdbcType=INTEGER}
  </select>

<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
<!--    delete from user_info-->
<!--    where user_id = #{userId,jdbcType=INTEGER}-->
<!--  </delete>-->

  <insert id="insertCountForRegister" parameterType="com.hmis.user.dto.UserInfo">
    insert into user_info (user_name, user_sex,
      user_age, user_tel, user_email, user_pwd)
    values (#{dto.userName,jdbcType=VARCHAR}, #{dto.userSex,jdbcType=CHAR},
      #{dto.userAge,jdbcType=INTEGER}, #{dto.userTel,jdbcType=CHAR}, #{dto.userEmail,jdbcType=VARCHAR},
      #{dto.userPwd,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.hmis.user.dto.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
<!--      <if test="userId != null">-->
<!--        user_id,-->
<!--      </if>-->
      <if test="userName != null">
        user_name,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userAge != null">
        user_age,
      </if>
      <if test="userTel != null">
        user_tel,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userPwd != null">
        user_pwd,
      </if>
<!--      <if test="headPortrait != null">-->
<!--        head_portrait,-->
<!--      </if>-->
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
<!--      <if test="userId != null">-->
<!--        #{userId,jdbcType=CHAR},-->
<!--      </if>-->
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=CHAR},
      </if>
      <if test="userAge != null">
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userTel != null">
        #{userTel,jdbcType=CHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
<!--      <if test="headPortrait != null">-->
<!--        #{headPortrait,jdbcType=VARCHAR},-->
<!--      </if>-->
    </trim>
  </insert>

  <update id="updateByNoSelective" parameterType="com.hmis.user.dto.UserInfo">
    update user_info
    <set>
      <if test="dto.userName != null">
        user_name = #{dto.userName,jdbcType=VARCHAR},
      </if>
      <if test="dto.userSex != null">
        user_sex = #{dto.userSex,jdbcType=CHAR},
      </if>
      <if test="dto.userAge != null">
        user_age = #{dto.userAge,jdbcType=INTEGER},
      </if>
      <if test="dto.userTel != null">
        user_tel = #{dto.userTel,jdbcType=CHAR},
      </if>
      <if test="dto.userEmail != null">
        user_email = #{dto.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="dto.userPwd != null">
        user_pwd = #{dto.userPwd,jdbcType=VARCHAR},
      </if>
      <if test="dto.headPortrait != null">
        head_portrait = #{dto.headPortrait,jdbcType=VARCHAR},
      </if>
    </set>
    where user_no = #{dto.userNo,jdbcType=INTEGER}
  </update>

<!--  <update id="updateByPrimaryKey" parameterType="com.hmis.user.dto.UserInfo">-->
<!--    update user_info-->
<!--    set user_name = #{userName,jdbcType=VARCHAR},-->
<!--      user_sex = #{userSex,jdbcType=CHAR},-->
<!--      user_age = #{userAge,jdbcType=INTEGER},-->
<!--      user_tel = #{userTel,jdbcType=CHAR},-->
<!--      user_email = #{userEmail,jdbcType=VARCHAR},-->
<!--      user_pwd = #{userPwd,jdbcType=VARCHAR},-->
<!--      head_portrait = #{headPortrait,jdbcType=VARCHAR}-->
<!--    where user_id = #{userId,jdbcType=CHAR}-->
<!--  </update>-->
</mapper>