<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmis.process.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.hmis.process.dto.OrderInfo">
    <id column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="order_no_of_dept" jdbcType="INTEGER" property="orderNoOfDept" />
    <result column="user_no" jdbcType="INTEGER" property="userNo" />
    <result column="animal_no" jdbcType="INTEGER" property="animalNo" />
    <result column="department_no" jdbcType="INTEGER" property="departmentNo" />
    <result column="worker_no" jdbcType="INTEGER" property="workerNo" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
  </resultMap>
  <sql id="Base_Column_List">
    order_no, order_no_of_dept, user_no, animal_no, department_no, worker_no, order_time
  </sql>

  <insert id="insert" parameterType="com.hmis.process.dto.OrderInfo">
    insert into order_info (order_no_of_dept, user_no,
      animal_no, department_no, worker_no,
      order_time)
    values (#{dto.orderNoOfDept,jdbcType=INTEGER}, #{dto.userNo,jdbcType=INTEGER},
      #{dto.animalNo,jdbcType=INTEGER}, #{dto.departmentNo,jdbcType=INTEGER}, #{dto.workerNo,jdbcType=INTEGER},
      #{dto.orderTime,jdbcType=TIMESTAMP})
  </insert>



  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info
    where order_no = #{orderNo,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_info
    where order_no = #{orderNo,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.hmis.process.dto.OrderInfo">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="orderNoOfDept != null">
        order_no_of_dept,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="animalNo != null">
        animal_no,
      </if>
      <if test="departmentNo != null">
        department_no,
      </if>
      <if test="workerNo != null">
        worker_no,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="orderNoOfDept != null">
        #{orderNoOfDept,jdbcType=INTEGER},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=INTEGER},
      </if>
      <if test="animalNo != null">
        #{animalNo,jdbcType=INTEGER},
      </if>
      <if test="departmentNo != null">
        #{departmentNo,jdbcType=INTEGER},
      </if>
      <if test="workerNo != null">
        #{workerNo,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hmis.process.dto.OrderInfo">
    update order_info
    <set>
      <if test="orderNoOfDept != null">
        order_no_of_dept = #{orderNoOfDept,jdbcType=INTEGER},
      </if>
      <if test="userNo != null">
        user_no = #{userNo,jdbcType=INTEGER},
      </if>
      <if test="animalNo != null">
        animal_no = #{animalNo,jdbcType=INTEGER},
      </if>
      <if test="departmentNo != null">
        department_no = #{departmentNo,jdbcType=INTEGER},
      </if>
      <if test="workerNo != null">
        worker_no = #{workerNo,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_no = #{orderNo,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hmis.process.dto.OrderInfo">
    update order_info
    set order_no_of_dept = #{orderNoOfDept,jdbcType=INTEGER},
      user_no = #{userNo,jdbcType=INTEGER},
      animal_no = #{animalNo,jdbcType=INTEGER},
      department_no = #{departmentNo,jdbcType=INTEGER},
      worker_no = #{workerNo,jdbcType=INTEGER},
      order_time = #{orderTime,jdbcType=TIMESTAMP}
    where order_no = #{orderNo,jdbcType=INTEGER}
  </update>
</mapper>